<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<form class="r-root" (submit)="uploadFiles($event)" id="main-form">
  @if (submitting) {
    <div class="r-file-form">
      Processing your request
    </div>
  }
  @else {
    <div class="r-file-form">
      <p>
      Choose the PDF files you wish to extract comments from.
      </p>

      @if (files.length > 0) {
        <div>
          Selected files:
          <ul>
            @for (file of files; track file) {
              <li>{{ file.name }}</li>
            }
          </ul>
        </div>
      }

      <div class="m-content">
        <label class="p-uploader">
          <input type="file" id="files" name="files" multiple (change)="formChange($event)"/>
            Choose Files
        </label>
      </div>
    </div>
  }
  <button type="submit" class="p-uploader" [disabled]="submitting">Submit</button>
</form>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
